<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">


	<!-- Search all annotated beans -->
	<context:component-scan base-package="com.visa" />



	<aop:config>
		<aop:advisor
			pointcut="execution(* com.visa.services.VisaIntegration.*(..))"
			advice-ref="tx-advice" />
	</aop:config>


	
	<tx:advice id="tx-advice">
		<tx:attributes>
			<!-- <tx:method name="find*" propagation="REQUIRED" read-only="true"
				rollback-for="Exception" />
			<tx:method name="count*" propagation="REQUIRED" read-only="true"
				rollback-for="Exception" />
			 -->
			 <tx:method name="verifica*" propagation="REQUIRED" read-only="true"
				rollback-for="Exception" />
			 <tx:method name="obtener*" propagation="REQUIRED" read-only="true"
				rollback-for="Exception" />
			<tx:method name="registra*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="actualizar*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="Exception" />
			
			


			<!-- <tx:method name="delete*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="Exception" />				
			<tx:method name="update*" isolation="READ_COMMITTED"
				propagation="REQUIRED" rollback-for="Exception" />	 -->		
		</tx:attributes>
	</tx:advice>
	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>



	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor">
	</bean>


</beans>
	
	
	
	